.orderdetails {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: flex-start;

  h4 {
    margin-bottom: 1rem;
  }
}

.orderdetails-items {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.orderdetails-item {
  display: flex;
  align-items: center;
  gap: 1rem;

  img {
    width: 7rem;
    border: 50%;
  }
}
