.account-panel {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;

  .pass-section {
    grid-template-columns: 1fr !important;
  }
}

.personalinfo {
  width: 100%;
  &-btn {
    @include btn-primary;
    padding: 2rem 1rem;
  }

  //password fields
  .css-78me8v-MuiFormControl-root {
    width: auto;
  }
}

#vertical-tabpanel {
  &-0,
  &-1,
  &-2 {
    width: 100%;
  }
}

.address-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.address-card {
  border-radius: 2rem;
  border: 2px solid $color-gray;
  padding: 2rem;

  h4 {
    display: flex;
    justify-content: space-between;

    button {
      background-color: white;

      &:hover {
        background-color: $color-gray-light;
      }
    }
  }

  h6 {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
