.cartTable-container {
  width: 70%;
}
.cart {
  padding-top: 12.6rem;
  @include section-header-layout;

  &-body {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 6rem;

    @media (max-width: 1250px) {
      width: 100%;
      flex-direction: column;
    }
  }

  &-link {
    @include link;
  }
}

@import "carttable";
@import "card";
